[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "osaka"
optimizer = true
extra_output_files = ["irOptimized"]
via_ir = true
bytecode_hash = "none"
cbor_metadata = false
revert_strings = "strip"

[fmt]
sort_imports = true
